.about {
  background-color: white;
  display: flex;
  justify-content: space-around;
  position: relative;
  color: black;
  transition: all 0.5s ease;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>👋</text></svg>")
      16 0,
    auto;

  .illustration {
    flex: 0.4;
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;
    top: -10px;
    animation: up-down 4s ease-in-out infinite;

    @keyframes fade-in {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }

    @keyframes up-down {
      0% {
        transform: translateY(-10px);
      }
      50% {
        transform: translateY(10px);
      }
      100% {
        transform: translateY(-10px);
      }
    }

    img {
      width: 100%;
    }
  }

  @media only screen and (max-width: 1100px) {
    .illustration {
      display: none;
    }
  }

  .wrapper {
    height: 100%;
    flex: 0.6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    position: relative;
    top: 20px;
    margin-left: 20px;

    h1 {
      font-size: 60px;
      margin-bottom: 10px;
    }
    h2 {
      font-size: 35px;
      margin-bottom: 10px;
      font-weight: 500;
    }
    h3 {
      font-size: 40px;
      font-weight: 500;
      margin-bottom: 10px;

      span {
        font-size: inherit;
        transition: all 0.5s ease;
        color: crimson;
      }

      .ityped-cursor {
        animation: blink 1s infinite;
      }

      @keyframes blink {
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }

    @media only screen and (max-width: 1100px) {
      h1 {
        font-size: 50px;
      }
      h2 {
        font-size: 25px;
      }
      h3 {
        font-size: 30px;
      }
    }
    @media only screen and (max-width: 800px) {
      h1 {
        font-size: 45px;
        text-align: center;
      }
      h2 {
        font-size: 25px;
        text-align: center;
      }
      h3 {
        font-size: 25px;
        text-align: center;
        padding: 0 5px;
      }
    }
  }

  a {
    position: absolute;
    bottom: 30px;
    transition: all 0.5s ease;

    .down-icon {
      font-size: 40px;
      color: crimson;
      animation: arrowBlink 1.5s infinite;
    }

    @keyframes arrowBlink {
      50% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.about-dark-mode {
  background-color: #212121;
  color: whitesmoke;

  .wrapper h3 span {
    color: #0bceaf;
  }
  .wrapper a .down-icon {
    font-size: 40px;
    color: #0bceaf;
    animation: arrowBlink 1.5s infinite;
  }
}
