.works {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='50' height='60' viewport='0 0 100 100' style='fill:black;font-size:30px;'><text y='50%'>👨‍🏭</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/

  h1 {
    font-size: 40px;
  }
}

.works-dark-mode {
  background-color: #212121;
  color: white;
}
